.vs/
OcletGateway/bin/
OcletGateway/obj/
ProductAPI/bin/
ProductAPI/obj/
SendEmailRabbitMQ/bin/
SendEmailRabbitMQ/obj/
UserAPI/bin/
UserAPI/obj/
UserAPI/appsettings.json
SendEmailRabbitMQ/appsettings.json
UserAPI/UserAPI.csproj.user
ProductGrpcService/bin/
ProductGrpcService/obj/
bk/
